{%- comment -%}
  Payment method row. Visa / Mastercard / Apple Pay / Google Pay use Shopify's
  official payment icons (payment_type_svg_tag). Tabby / Tamara / COD are brand
  badges (not part of Shopify's icon set). Usage: {% render 'pay-icons' %}
{%- endcomment -%}
<div class="pay-icons-row" aria-label="Payment options">
  {{ 'apple_pay' | payment_type_svg_tag }}
  {{ 'google_pay' | payment_type_svg_tag }}
  {{ 'visa' | payment_type_svg_tag }}
  {{ 'master' | payment_type_svg_tag }}
</div>
